#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  color: aquamarine;
}

button:enabled:hover {
  background-color: aqua;
  color: black;
}

input::placeholder {
  color: orange;
}
